


body{
	position:relative;
	background-color:white;
	margin: 0;
	padding-bottom: 6rem;
	min-height: 100%;

	font-family: "Times New Roman", Times, serif;

}


footer{

	position:relative;
	text-align:center;
	font-size: 2.5em;
	font-family: "Times New Roman", Times, serif;
	background-color: lightgrey;
	top:450px;
	bottom: 0%;
	right:0%;
	left:0%
	padding: 1rem;
}

aside{
	position:relative;
	width:180px;
	height:300px;
}

nav{
	background-color:lightgrey;
	border-style:solid;
	border-width: 3px;
	padding-top:5px;
	padding-bottom:10px;
	height:420px;


}

a{
	color:blue;
}

.mainheader{
	position:relative;
	text-align:center;
	color:white;


}

.link_gape{
	position:relative;
	margin-bottom: 20px;
	padding-left: 30px;
	margin-top: 20px;

}

h2{
	position:relative;
	margin-top: -250px;
	padding-left: 299px;

}



main{

	position:relative;
	margin-left: 620px;
	margin-top: -300px;
	

}

.custhead{
	position:relative;
	margin-right:35px;
	font-size:35px;
	font-weight: bold;
	float:right;

}


.mytile{
	position:relative;
	margin-right: 200px;
font-size:35px;
	font-weight: bold;

}